/* Reset */
*, ::before, ::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

/* Base style */
html {
    background-color: #881335;
    color: #f2f2f2;
    font-family: sans-serif;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#app {
    align-self: center;
    max-width: 675px;
    width: 100%;
    padding: 0px 5px 20px;
    flex: 1;
}

header {
    background-color: #111;
    padding: 10px 20px;
}

footer {
    min-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #111;
}

footer a {
    color: inherit;
}

/* Form */
fieldset {
    padding: 0;
    margin: 0;
    border: none;
}


.fields {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;

    margin-bottom: 10px;
}

.field {
    margin-bottom: 10px;
}

.field > * {
    display: block;
    width: 100%;
}
.field > input[type="datetime-local"] {
    width: auto;
}

.field > .fields {
    padding-left: 15px;
    display: flex;
}

.fields > .field {
    margin-bottom: 0;
    flex: 1;
}

.checkbox-list {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;

    min-width: 250px;
}

.lower-case {
    text-transform: lowercase;
}

summary {
    padding: 1em 0;
    user-select: none;
}

p.warning {
    padding-left: 4px;
    border-left: 6px solid #ff5;
    color: #ff5;
}
p.warning::before {
  content: "⚠️ Warning: "
}

/* Tab bar */

.tabbar {
    position: relative;
    z-index: 10;
}

.tabbar > button {
    color: inherit;
    background-color: #5f1d30;
    padding: 5px 10px;
    
    border: 1px solid black;
    border-bottom-width: 0px;
    border-right-width: 0px;

    font-size: 1.2em;
}

.tabbar > button:last-child {
    border-right-width: 1px;
}

.tabbar > button[data-active="true"] {
    background-color: #b7264f;
    position: relative;
    padding-bottom: 6px;
    margin-bottom: -1px;
}

.tabcontent {
    border: 1px solid black;
    padding: 10px;
    min-height: 6em;
    background-color: #b7264f;
}
